@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>


        .rest{
            background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://content.techgig.com/photo/msid-77087595/Guide-How-to-build-career-as-a-programmer-without-college-degree.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 700px;
            margin-bottom: 20px;
            width: 100%;
            background-position: center;
            

        }
        .txt1{
            color: white;
            text-align: center;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: black;
            background-position: center;
            opacity: .7;
            width:400px;
            height:100px;
            margin:auto;
            margin-bottom: 20px;
            padding: 10px;
        }
        .button{
            background-color: purple;
        
            color:white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            height: 50px;
            width:200px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
    
        }
        .button a{
            color: white;
            text-decoration: none;
            text-align: center;
            size: 20px;
        }

        
    </style>
</head>
<body>


<div class="rest">
<div class="txt1">
    <h1 id="t">Welcome</h1>
</div>
        
<div class="txt2">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</div>
    <div class="txt3">
        <h1>Let's explore...</h1>
    </div>
    
    <div class="text">
        <p>We hope you'll join us for</p>
    </div>
    <div class="button">
        <a href="https://en.wikipedia.org/wiki/Programmer" target="_blank">Join Us</a>
    </div>
</div>
</body>
</html>

